.sp_tab_header{
margin-bottom: -1px;
}
.sp_tab_list{
    padding: 5px 15px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}
.sp_tab_list.react-tabs__tab--selected , .sp_tab_list:hover{
    border-bottom: 2px solid var(--link-hover);
    color: var(--link-hover);
}

.sp_tab_content{
    padding: 20px 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.sp_tab_content p , .sp_tab_content ul li{
    font-size: 15px;
    color: #777;
}
.sp_tab_content p{
    line-height: 21px;
}
.sp_tab_content h4{
    font-size: 18px;
    font-family: 'Fraunces', serif;
}
.sp_tab_content ul{
    list-style: disc;
}

.sp_tab_content ul li{
    text-transform: capitalize;
    margin-bottom: 5px;
}


@media only screen and (max-width:575px) {
    .sp_tab_list{
        padding: 5px 10px;
        font-size: 15px;
    }
}